
form {
  border: 1px solid #0a7fb7;
  padding: 10px;
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 30px;
  animation: swal2-show .3s;

}

.inputForm {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-bottom: 10px;
}

.inputMa {
  border: 1px solid #0a7fb7;
    border-radius: 5px;
    background-color: #e1f9fb;
    padding: 2px;
}

.inputMa input {
  outline: none;
  border: none;
  width: 90%;
  margin-left: 5px;
  background: transparent;
  height: 90%;
}

.redireccionar {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 10px;
}

.redireccionar a {
  text-decoration: none;
  color: #0a7fb7;
}

input[type=button]{
  width: 40%;
  margin-top: 20px;
  padding: 5px;
  border-radius: 10px 0 10px 0;
  margin-bottom: 10px;
  background: #0a7fb7;
  font-family: cursive;
  border: 1px solid black;
  color: white;
}

.redireccionar a:hover{
  text-decoration: underline;

}
input[type=button]:hover{
  text-decoration: underline;
  cursor: pointer;
}

.botones {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.botones a {
  width: 40%;
    margin-top: 20px;
    padding: 5px;
    border-radius: 10px 0 10px 0;
    margin-bottom: 10px;
    border: 1px solid #0a7fb7;
    font-family: cursive;
    border: 1px solid black;
    color: #0a7fb7;
    text-align: center;
    text-decoration: none;
}
.botones a:hover {
  text-decoration: underline;
}

.botones .siguiente {
  background-color: #0a7fb7;
  color: white;
}

input[type=button]:disabled{
  background: #95d2e1!important;
  cursor:default;
  text-decoration: none;
}