<form (submit)="onSubmit($event)" [formGroup]="validForm" class="sombra">
  <div class="inputForm">
    <label for="">Contraseña</label>
    <div class="inputMa">
      <input type="password" formControlName="Password">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
        <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
        <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
      </svg>
    </div>
    <div *ngIf="Password?.invalid && ( Password?.touched || Password?.dirty )" class="errorInputs">
      <div *ngIf="Password?.errors?.['required']">
          La contraseña es requerido
      </div>
      <div *ngIf="Password?.errors?.['minlength']">
        La contraseña tiene que tener un minimo de 5 caracteres
      </div>
      <div *ngIf="Password?.errors?.['maxlength']">
        La contraseña tiene que tener un maximo de 15 caracteres
      </div>
      <div *ngIf="Password?.errors?.['pattern']">
        Contraseña no valido
      </div>
    </div>
  </div>
  <div class="inputForm">
    <label for="">Repetir Contraseña</label>
    <div class="inputMa">
      <input type="password" formControlName="RepetirPassword">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key-fill" viewBox="0 0 16 16">
        <path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
      </svg>
    </div>
    <div *ngIf="RepetirPassword?.invalid && ( RepetirPassword?.touched || RepetirPassword?.dirty )" class="errorInputs">
      <div *ngIf="RepetirPassword?.errors?.['required']">
          La contraseña es requerido
      </div>
      <div *ngIf="RepetirPassword?.errors?.['minlength']">
        La contraseña tiene que tener un minimo de 8 caracteres
      </div>
      <div *ngIf="RepetirPassword?.errors?.['maxlength']">
        La contraseña tiene que tener un maximo de 15 caracteres
      </div>
      <div *ngIf="RepetirPassword?.errors?.['pattern']">
        contraseña no valido
      </div>
    </div>
  </div>
  <div class="redireccionar">
    <a href="" routerLink="/login">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
    </svg> Login</a>
  </div>
  <div *ngIf="spinner" class="spinner-login">
    <span class="loader"></span>
  </div>
  <div class="botones">
    <input type="submit" value="Cambiar contraseña" [disabled]="validForm.invalid || spinner">
  </div>

</form>
